<div class="content">
  <div class="regular slider">
    <div><%= image_tag "logo.png", :alt=>"125naroom", style: "width:1200px; height:680px;" %></div>
    <div><%= image_tag "school-pen.jpg", :alt=>"125naroom", style: "width:1200px; height:680px;" %></div>
    <div><%= image_tag "school-work.jpg", :alt=>"125naroom", style: "width:1200px; height:680px;" %></div>
    <div><%= image_tag "school.jpg", :alt=>"125naroom", style: "width:1200px; height:680px;" %></div>
  </div>
</div>

</div>
<script type="text/javascript">
  $(document).on('ready',function(){
  $(".regular").slick({
    autoplay:true,
    autoplaySpeed:4000,
    dots:true,
    prevArrow: '<i class="fas fa-arrow-alt-circle-left"></i>',
    nextArrow: '<i class="fas fa-arrow-alt-circle-right"></i>'  });
});
</script>




</body>
</html>


<div class="col-md-9 mx-auto mt-7">
  <h1>ようこそ！ <strong>最適な進路選択へ</strong></span></h1>
  <p>あなたの進路選択の手助けをします。学校情報や口コミ情報をチェックし、あなたに最適な高校を探しましょう。</p>
  <p>現在は奈良県のみ調べることができます。他の都道府県の高校情報は更新までしばらくお待ちください。</p>

  	<h3>都道府県一覧</h3>
  <div class="row">
   <p class="ml-3">
  		<% @prefectures.each do |prefecture| %>
	 <%= link_to prefecture.name, schools_path(prefecture_id: prefecture.id) %>
	<% end %>
　 </p>
  </div>
</div>

