<table>
  <% @school.school_comments.each do |post| %>
    <tr>
    	<td>
    	</td>
    	<td><%= school_comment.position %></td>
    	<td><%= school_comment.number %></td>
    	<td><%= school_comment.review %></td>
    </tr>
  <% end %>
</table>
<%= form_with model:[@school,@school_comment], local: true do |f| %>
  <%= f.text_field :position %><br>
  <%= f.text_field :number %><br>
   <div class="form-group row" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'school_comment[rate]',
    half: true,
  });
  </script>

  <%= f.text_area :review, size:"90x5" %><br>
  <%= f.submit '送信'%>
<% end %>