<div class="container">
   <div class="row">
    <div class="col-md-11 offset-md-1">

<h2>高校詳細</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-2">項目</th>
      <th class="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学校名</td>
      <td><%= @school.name %></td>
    </tr>
    <tr>
      <td>学校名カナ</td>
      <td><%= @school.name_kana %></td>
    </tr>
    <tr>
      <td>都道府県</td>
      <td><%= @school.prefecture.name %></td>
    </tr>
    <tr>
      <td>学校区分</td>
      <td><%= @school.division.name %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @school.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @school.address %></td>
    </tr>
    <tr>
      <td>学校HP</td>
      <td><%= link_to @school.url %></td>
    </tr>
     <tr>
      <td>部活</td>
      <td><%= @school.club %></td>
    </tr>
  </tbody>
</table>
 <%= render "schools/school_comment", school: @school,school_comment: @school_comment %>
 <table>

 </table>
</div>