<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a href="/" class="navbar-brand">
            <img src="assets//logo.png" width="10%" height="10%" alt="">
            最適な進路選択</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
         <% if admin_signed_in? %>
         <div class="navbar-nav">
          <a class="nav-item nav-link" href="/admins/schools">高校一覧</a>
          <a class="nav-item nav-link" href="/admins/schools/new">高校新規登録</a>
          <a class="nav-item nav-link" href="#">口コミ一覧</a>
          <a class="nav-item nav-link" href="/admins/contacts">お問い合わせ一覧</a>
          <a class="nav-item nav-link" href="{% /admins/sign_out 'logout' %}">ログアウト</a>
          <a class="nav-item nav-link"><%= link_to("ログアウト", "/admins/sign_out", {method: "delete", class: "nav-link"}) %></a>
         </div>

         <% else %>
         <div class="navbar-nav">
          <a class="nav-item nav-link" href="/schools">高校一覧</a>
          <a class="nav-item nav-link" href="/contacts/new">お問い合わせページ</a>
         </div>
         <% end %>

          <%= form_with url:search_path, method: :get,local: true do |f| %>
            <%= f.text_field :content %>
            <%= f.select :model, options_for_select({ "高校" => "school.name" , "部活" => "school.club" }) %>
            <%= f.select :method, options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%= f.submit '検索', class: "btn btn-primary" %>
          <% end %>
        </div>
        </nav>



      </header>
      <main>
       <%= yield %>
      </main>

      <footer>Copyright © HandaTakahiro. All Rights Reserved.</footer>
  </body>
</html>
